1;95;0c# OS
#---------------------------
.DS_Store
*~

# Python/Jupyter
#---------------------------
*.pyc
__pycache__
.ipynb_checkpoints/


# Directories
#---------------------------
cluster/
data/
weights/

# Logs
#---------------------------
logs/
*.log
